# alle Dateien, die auf .o enden
*.o
*.out
# eine bestimmte Datei, z.B. ein Executable
statistics
# Sicherungskopien, die auf ~ enden
*~
# das Unterverzeichnis build/ (von CMake)
build/
# Aufgabenstellungen und Lektionen
*.pdf
*.Pdf
# Archive
*.tar*
